@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0d0d; /* negro oscuro premium */
  color: #ffffff;
  min-height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1.2s ease-out forwards;
}